= form_for :session, url: sessions_path do |f|
  %table
    %tbody
      %tr
        %th= f.label :email
        %td= f.text_field :email
      %tr
        %th= f.label :password
        %td= f.password_field :password
    %tfoot
      %tr
        %td= f.submit 'Sign in'

= link_to 'Sign up', new_user_path
