= form_for @track, html: { multipart: true } do |t|
  %table
    %tbody
      %tr
        %th= t.label :name
        %td= t.text_field :name
      %tr
        %th= t.label :file
        %td= t.file_field :file
    %tfoot
      %tr
        %td= t.submit 'Upload'
