= form_for(@user, :url => users_path) do |f|
  %table
    %tbody
      %tr
        %th= f.label :email
        %td= f.text_field :email
      %tr
        %th= f.label :password
        %td= f.password_field :password
      %tr
        %th= f.label :password_confirmation
        %td= f.password_field :password_confirmation
    %tfoot
      %tr
        %td= f.submit 'Sign up'
