= form_for @key do |f|
  %fieldset
    %p
      = f.label :name
      %br
      = f.text_field :name

    - if @key.errors.any?
      .errors
        %p
          = pluralize @key.errors.count, 'error'
          prohibited this post from being saved:
        %ul
          - @key.errors.full_messages.each do |error|
            %li= error

  %ul
    %li
      = f.button
