%h1
  Listing
  keys


- if @keys.empty?
  %p No record found.

- else
  %table
    %thead
      %tr
        %th
          Name
        %th
          Created at
        %th
          Updated at
        %th
          Actions

    %tbody
      - @keys.each do |e|
        %tr
          %td
            = link_to e.name, e
          %td
            = e.created_at
          %td
            = e.updated_at
          %td
            %ul
              %li
                = link_to 'Edit', edit_key_path(e)
              %li
                = link_to 'Destroy', e, method: :delete,
                  data: { confirm: 'Are you sure?' }


%ul
  %li
    = link_to 'New key', new_key_path
