!!!
%html
  %head
    %meta{charset: 'utf-8'}
    %title scube

    = javascript_include_tag 'application'
    = csrf_meta_tag

  %body
    %header
      - if current_user?
        %nav
          %ul
            %li
              = link_to 'Keys', keys_path
            %li
              = link_to 'Playlists', playlists_path
            %li
              = link_to 'Tracks', tracks_path
            %li
              = link_to 'Sign out', signout_path

    %main
      = yield
